<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container" align="center">

      <h5>Rezultat szyfrowania:</h5><br>

      {% if enq.result_gad and enq.result_pol %}
      <div class="card border-warning mb-2" style="max-width: 26rem;" align="left">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title">Zaszyfrowano: <strong>{{enq.result_gad}}</strong> </h6>
                <ul>
                  <li>Słowo: {{enq.word}}</li>
                  <li>Metoda szyfrowania: gaderypoluki</li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-warning mb-2" style="max-width: 26rem;" align="left">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title">Zaszyfrowano: <strong>{{enq.result_pol}}</strong> </h6>
                <ul>
                  <li>Słowo: {{enq.word}}</li>
                  <li>Metoda szyfrowania: politykarenu</li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      {% elif enq.result_gad %}
      <div class="card border-warning mb-2" style="max-width: 26rem;" align="left">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title">Zaszyfrowano: <strong>{{enq.result_gad}}</strong> </h6>
                <ul>
                  <li>Słowo: {{enq.word}}</li>
                  <li>Metoda szyfrowania: {{enq.method}}</li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      {% else %}
      <div class="card border-warning mb-2" style="max-width: 26rem;" align="left">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title">Zaszyfrowano: <strong>{{enq.result_pol}}</strong> </h6>
                <ul>
                  <li>Słowo: {{enq.word}}</li>
                  <li>Metoda szyfrowania: {{enq.method}}</li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      {% endif %}

    </div>

  </body>
</html>
